html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background:radial-gradient(circle 100px at top, rgb(255, 165, 0), rgb(166, 78, 47));;
}

button {
  font-size: 7px;
}

#main-content {
 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  border: 1px solid #333;
  background: rgba(0, 0, 0, 0.3);
  padding: 15px 20px 20px 15px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#list {
  text-align: center;
  margin: 10px;
  padding: 0px 20px 18px 20px;
  border-radius: 5px;
  color: rgb(197, 174, 144);
}


#create-task-form {
  color:antiquewhite;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}